{% extends "layout.html" %} 
{% block title %} BOOKS {% endblock title %} 
{% block content %}
<h1 style=" color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;">
    <u>SOME BOOKS ON ZOMBIES:    </u>
</h1>
<ol>
    <li>
        Zombie, Ohio <br> By Scott Kenemore <br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/414SOHEDuQL._SX311_BO1,204,203,200_.jpg" alt="Picture">
        <p>
            When rural Ohio college professor Peter Mellor dies in an automobile accident during a zombie <br> outbreak, he is reborn as a highly intelligent (yet somewhat amnesiac) member of the living dead. <br> With society crumbling around him and
            violence escalating into daily life, Peter quickly learns that <br> being a zombie is not all fun and brains.
        </p>
        <a href="https://www.amazon.in/dp/1616082062/ref=cm_sw_em_r_mt_dp_U_4GTiDbK2XJ3TP">Click here to buy   </a>
        <hr>
    </li>
    <li>
        Patient Zero <br> By Jonathan Maberry <br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51w3%2BKdIzYL._SX273_BO1,204,203,200_.jpg" alt="Picture">
        <p>
            When you have to kill the same terrorist twice in one week, there's either something wrong with your <br> world or something wrong with your skills... and there's nothing wrong with Joe Ledger's skills.
            <br> Ledger, a Baltimore detective assigned to a counterterrorism task force, is recruited by the <br> government to lead a new ultrasecret rapid-response group called the Department of Military Sciences <br> (DMS) to help stop a group of
            terrorists from releasing a dreadful bio-weapon that can turn ordinary people
            <br> into zombies.
        </p>
        <a href="https://www.amazon.in/dp/1250043778/ref=cm_sw_em_r_mt_dp_U_UhUiDbSKDC34Q">Click here to buy</a>
        <hr>
    </li>
    <li>
        World War Z <br> By Max Brooks <br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51yrxy5hGGL._SX323_BO1,204,203,200_.jpg" alt="Picture">
        <p>
            We survived the zombie apocalypse, but how many of us are still haunted by that terrible time? <br> We have (temporarily?) defeated the living dead, but at what cost? Told in the haunting and <br> riveting voices of the men and women who witnessed
            the horror firsthand, World War Z is the <br> only record of the apocalyptic years.
        </p>
        <a href="https://www.amazon.in/dp/0307346617/ref=cm_sw_em_r_mt_dp_U_fNUiDbK7EC5Q0">Click here to buy</a>
        <hr>
    </li>
    <li>
        Pride and Prejucice and Zombies <br> By Seth Grahme-Smith <br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51azVAbrKIL._SX327_BO1,204,203,200_.jpg" alt="Picture">
        <p>
            "It is a truth universally acknowledged that a zombie in possession of brains must be in want of more brains." <br> So begins Pride and Prejudice and Zombies, an expanded edition of the beloved Jane Austen novel <br> featuring all-new scenes
            of bone-crunching zombie mayhem.
        </p>
        <a href="https://www.amazon.in/dp/1594743347/ref=cm_sw_em_r_mt_dp_U_TMUiDbQ0FH9V8">Click here to buy</a>
        <hr>
    </li>
    <li>
        FEED <br> By Mira Grant <br>
        <img src="https://images-na.ssl-images-amazon.com/images/I/51OXCIqV26L._SX277_BO1,204,203,200_.jpg" alt="Picture">
        <p>
            The year was 2014. We had cured cancer. We had beat the common cold. But in doing so we created <br> something new, something terrible that no one could stop. The infection spread, virus blocks taking <br> over bodies and minds with one, unstoppable
            command: FEED.
        </p>
        <a href="https://www.amazon.in/dp/0316081051/ref=cm_sw_em_r_mt_dp_U_kXUiDbM4P9DK7">Click here to buy</a>
        <hr>
    </li>
</ol>
{% endblock %}