{% extends "layout.html" %} {% block title %} Introduction {% endblock title %} {% block content %}

<p style="font-size: 300%;color: crimson">Welcome to zombie world!!!!</p>
<p style="font-style: italic;color: darkviolet; font-size: 200%">A Zombie, in its broadest sense, is a person who has lost his or her<br> sense of self-awareness and identity, and cares only for the destruction<br> (and often consumption) of any human around, no matter what the<br> circumstances, or cost to his or
    her self. They make up for this loss of<br> intelligence in sheer numbers, as the state of 'Zombieism' is almost
    <br> always contagious, and spread virually, at a devastating cost to their<br> surrounding society. Technically speaking, true zombies are always dead,<br> and re-animated.</p>
<h1 style="font-style: italic;color:crimson">Types of Zombies:-</h1>
<p style="font-style: italic;color:deeppink; font-size: 150%">The Generic Zombie:-<br>
    <img src="https://wallpaperplay.com/walls/full/9/c/b/261485.jpg" height="350" width="490"></img><br>The Generic Zombie, is a person who has been killed<br> and reanimated by a pathogen, often, but not always due to a virus.<br> They are usually aggressive.
    They can be curious, but disorientated, <br>and at a loss to fully understand their environment. Their most notable trait is<br> that they kill and eat uninfected humans.
</p>
<p style="font-style: italic;color:deeppink; font-size: 150%">Runner Zombies:-<br>
    <img src="https://zamonthly.files.wordpress.com/2013/02/28weeks.jpg" height="350" width="490"></img><br>Runner Zombies are Zombies that have the ability to run at a full sprint.<br> This ability separates them (in dealing with them, and in classification)<br>    so much, that leading minds disagree whether they should even be considered <br>Zombies at all.
</p>
<p style="font-style: italic;color:deeppink; font-size: 150%">Pukers/Vomiters Zombies:-<br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsXiZXvUmWfHcilYJHYOn-4n287as5nyURt9l9lXWjUzqrDL5q" height="350" width="490"></img><br>Vomiters or Pukers are related to Spitters in that they are one of the few zombies<br> with a ranged
    attack: in this case, vomiting. The range of the vomit depends<br> on the type of zombie, from just being able to vomit off a roof below to massive range.<br> Vomit tends not to do any damage, it's primary function is to infect if it is not dealt<br>    with quickly. It also has a secondary function, being very irritating if it gets <br>into the eyes or mouth of the survivors. Beware when you look up.<br> The Vomiter Zombies' clothes are usually drenched in vomit and are mutated
    <br>for the purpose of vomiting, making them weak, slow, and visible.<br> They usually also make belching <br>and vomiting ambient noises when nearby.
</p>
<p style="font-style: italic;color:darkblue; font-size: 200%">The zombies can be scary from the ones in the game<br> <strong>PLANST V/S ZOMBIES</strong><br><img src="https://i.pinimg.com/236x/37/15/8b/37158b1fcb232198230c913250993ab2--hunting-pictures-plant-zombie.jpg" height="350" width="490"></img> to the ones
    in <strong>DEAD SNOW</strong><br>
    <img src="https://i.ytimg.com/vi/kps8in5nFbI/maxresdefault.jpg" height="350" width="490"></img>
</p>
<p style="font-style: italic;color:darkblue; font-size: 200%">But all zombies are not Evil some are <strong>Romantic</strong> too like the ones in <br><strong>WARM BODIES</strong><br><img src="https://steemitimages.com/640x0/http://rs1173.pbsrc.com/albums/r584/Cloudy_vt/407321_282481361808701_281863641870473_748947_1723201358_n_large.jpg?w=480&h=480&fit=clip"
        height="350" width="490"></img>
</p>
<p style="font-style: italic;color:darkblue; font-size: 250%"><strong>  Tips to survive a zombie apocalyps:-</strong><br>
    <br>
    <ul style="font-style:italic;color:crimson; font-size: 250%">
        <strong> <li>They are fatal stay as away as possible.
                <li>Use closed transportation like car and check for the fuel. 
                    <li>Stick together.
                        <li>Take chelter in closed places.
                            <li>Preferably stay at the roof of a high rise.
                            <li>Seal all possible entry points.
                                <li>Fight zombies with longe range weapons.
                                    <li>Whlie in a fight do not split.
                    </strong>
    </ul>

</p>

{% endblock %}