{% extends "layout.html" %} {% block title %} Movies {% endblock title %} {% block content %}

<h1>
    ZOMBIE MOVIE LIST
</h1>

<ol style="font-size: 20px">
    <li>
        <a href="https://www.imdb.com/title/tt0365748/?ref_=ttls_li_tt" class="abc"> Shaun of the Dead </a>(2004)<br> R | 99 min | Comedy, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMTg5Mjk2NDMtZTk0Ny00YTQ0LWIzYWEtMWI5MGQ0Mjg1OTNkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li><a href="https://www.imdb.com/title/tt0077402/?ref_=ttls_li_tt" class="abc">Dawn of the Dead</a>(1978)<br> Unrated | 127 min | Horror, Thriller<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMzc1YTIyNjctYzhlNy00ZmYzLWI2ZWQtMzk4MmQwYzA0NGQ1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">

    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt0063350/?ref_=ttls_li_tt" class="abc">Night of the Living Dead</a> (1968)<br> Not Rated | 96 min | Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMjRjZjE3OGUtYzIyYy00NGRkLTliYTUtYmI1ZjQ3YmZjYTZiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt1156398/?ref_=ttls_li_tt" class="abc">Zombieland</a> (2009)<br> R | 88 min | Adventure, Comedy, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMTU5MDg0NTQ1N15BMl5BanBnXkFtZTcwMjA4Mjg3Mg@@._V1_UY268_CR5,0,182,268_AL__QL50.jpg">

    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt0289043/?ref_=ttls_li_tt" class="abc">28 Days Later... </a> (2002)<br> R | 113 min | Drama, Horror, Sci-Fi<br>
        <img src="https://m.media-amazon.com/images/M/MV5BYTFkM2ViMmQtZmI5NS00MjQ2LWEyN2EtMTI1ZmNlZDU3MTZjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0103873/?ref_=ttls_li_tt" class="abc">Dead Alive</a> (1992)<br> R | 104 min | Comedy, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BZTZlZDgxMDktNGIyOC00OGVmLWFkMmYtNWM3MjBmMDUzNTc4XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY268_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt0089907/?ref_=ttls_li_tt" class="abc"> The Return of the Living Dead</a> (1985)<br> R | 91 min | Comedy, Horror, Sci-F<br>
        <img src="https://m.media-amazon.com/images/M/MV5BYzY0ZjJlNmMtMGU3NC00Yjk3LTk0N2ItMDNlMDVhZjA4OTFmXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt0363547/?ref_=ttls_li_tt" class="abc">Dawn of the Dead</a> (2004)<br> R | 101 min | Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BN2M2ZmU2OGQtNmU5Yi00MTIyLTgwNWMtYjljMzZlYTdiNjBhXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0088993/?ref_=ttls_li_tt" class="abc">Day of the Dead </a> (1985)<br> Not Rated | 96 min | Horror, Thriller<br>
        <img src="https://m.media-amazon.com/images/M/MV5BNWVmMzlhZGYtMWRiOS00MGIwLTk5YTAtZGE4OTcyYjU3YzZmXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0036027/?ref_=ttls_li_tt" class="abc">I Walked with a Zombie</a> (1943)<br> Approved | 69 min | Drama, Fantasy, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BZjQzMzliN2YtYTVhNC00Zjc4LThjMmYtMTE0ZGUzMWNmYzJlXkEyXkFqcGdeQXVyMTYxNjkxOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>

        <a href="https://www.imdb.com/title/tt1077258/?ref_=ttls_li_tt" class="abc">Planet Terror</a> (2007)<br> Not Rated | 105 min | Action, Comedy, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BODdmNmM2ZTgtODM1MS00ZGMxLTk3MTMtMGQ1ODZhMTQ1NWEwL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0463854/?ref_=ttls_li_tt" class="abc"> 28 Weeks Later </a>(2007)<br> R | 100 min | Drama, Horror, Sci-Fi<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMTUxMjc2MTcxNV5BMl5BanBnXkFtZTcwMzgzOTY0MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt1588173/?ref_=ttls_li_tt" class="abc">Warm Bodies</a> (2013)<br> PG-13 | 98 min | Comedy, Horror, Romance<br>
        <img src="https://m.media-amazon.com/images/M/MV5BMTQ4MjY2MjMzOV5BMl5BanBnXkFtZTcwMDUxNzIwOQ@@._V1._CR43,43.16667175292969,1298,1960.9999542236328_UX182_CR0,0,182,268_AL__QL50.jpg">

    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0080057/?ref_=ttls_li_tt" class="abc">Zombie</a> (1979)<br> R | 91 min | Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BZTQzZTc3MjMtMGNiNy00ZTI1LWEwNjktYjVmODNmYjRiMGNiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTYxNjkxOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0100258/?ref_=ttls_li_tt" class="abc"> Night of the Living Dead</a> (1990)<br> R | 92 min | Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BNzYxZTE2ZWYtMGYxNS00OTFlLTkyYmMtYzVkZjI0ZTdmYzdkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0071431/?ref_=ttls_li_tt" class="abc">Let Sleeping Corpses Lie</a> (1974)<br> R | 93 min | Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BYmNlZjkzNTgtM2ExNi00ODhjLThiY2MtYzY0YTc0NzViZTNjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_UY268_CR6,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0091630/?ref_=ttls_li_tt" class="abc">Night of the Creeps</a> (1986)<br> R | 88 min | Comedy, Horror, Sci-Fi<br>
        <img src="https://m.media-amazon.com/images/M/MV5BZDdhMGFlNzEtMWMxZS00NDAwLWJiYzctNmMyZDdhMTYwZDY4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0120804/?ref_=ttls_li_tt" class="abc"> Resident Evil</a> (2002)<br> R | 100 min | Action, Horror, Sci-Fi<br>
        <img src="https://m.media-amazon.com/images/M/MV5BZmI1ZGRhNDYtOGVjZC00MmUyLThlNTktMTQyZGE3MzE1ZTdlXkEyXkFqcGdeQXVyNDE5MTU2MDE@._V1_UY268_CR1,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt0457572/?ref_=ttls_li_tt" class="abc">Fido </a> (2006)<br> R | 93 min | Comedy, Drama, Horror<br>
        <img src="https://m.media-amazon.com/images/M/MV5BNzQwMzYyMDQtZTc1Yi00YzU4LThlM2ItYTM5Mjc5NGViNjRjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>
    <li>
        <a href="https://www.imdb.com/title/tt1226681/?ref_=ttls_li_tt" class="abc">Pontypool</a> (2008)<br> Not Rated | 93 min | Fantasy, Horror, Thriller<br>
        <img src="https://m.media-amazon.com/images/M/MV5BNWZkMmNmNGItM2MwNC00YTY2LTk0ZDYtMGM0YjM5Nzk0MjVjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
    </li>
    <br>

</ol>
{% endblock %}