{% extends "layout.html" %} 
{% block title %} MOVIES {% endblock title %} 
{% block content %}
    <ol start="11">
                   
            <li>
        
                 
                <a href="https://www.imdb.com/title/tt1077258/?ref_=ttls_li_tt" class="abc">Planet Terror</a>  (2007)<br>
                Not Rated | 105 min | Action, Comedy, Horror<br>
                <img src="https://m.media-amazon.com/images/M/MV5BODdmNmM2ZTgtODM1MS00ZGMxLTk3MTMtMGQ1ODZhMTQ1NWEwL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0463854/?ref_=ttls_li_tt" class="abc"> 28 Weeks Later </a>(2007)<br>
                R | 100 min | Drama, Horror, Sci-Fi<br>
                <img src="https://m.media-amazon.com/images/M/MV5BMTUxMjc2MTcxNV5BMl5BanBnXkFtZTcwMzgzOTY0MQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt1588173/?ref_=ttls_li_tt" class="abc">Warm Bodies</a>  (2013)<br>
                PG-13 | 98 min | Comedy, Horror, Romance<br>
                <img src="https://m.media-amazon.com/images/M/MV5BMTQ4MjY2MjMzOV5BMl5BanBnXkFtZTcwMDUxNzIwOQ@@._V1._CR43,43.16667175292969,1298,1960.9999542236328_UX182_CR0,0,182,268_AL__QL50.jpg">

            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0080057/?ref_=ttls_li_tt" class="abc">Zombie</a>  (1979)<br>
                R | 91 min | Horror<br>
                <img src="https://m.media-amazon.com/images/M/MV5BZTQzZTc3MjMtMGNiNy00ZTI1LWEwNjktYjVmODNmYjRiMGNiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTYxNjkxOQ@@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0100258/?ref_=ttls_li_tt" class="abc"> Night of the Living Dead</a> (1990)<br>
                R | 92 min | Horror<br>
                <img src="https://m.media-amazon.com/images/M/MV5BNzYxZTE2ZWYtMGYxNS00OTFlLTkyYmMtYzVkZjI0ZTdmYzdkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0071431/?ref_=ttls_li_tt" class="abc">Let Sleeping Corpses Lie</a> (1974)<br>
                R | 93 min | Horror<br>
                <img src="https://m.media-amazon.com/images/M/MV5BYmNlZjkzNTgtM2ExNi00ODhjLThiY2MtYzY0YTc0NzViZTNjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_UY268_CR6,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0091630/?ref_=ttls_li_tt" class="abc">Night of the Creeps</a> (1986)<br>
                R | 88 min | Comedy, Horror, Sci-<br>
                <img src="https://m.media-amazon.com/images/M/MV5BZDdhMGFlNzEtMWMxZS00NDAwLWJiYzctNmMyZDdhMTYwZDY4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0120804/?ref_=ttls_li_tt" class="abc"> Resident Evil</a> (2002)<br>
                R | 100 min | Action, Horror, Sci-Fi<br>
                <img src="https://m.media-amazon.com/images/M/MV5BZmI1ZGRhNDYtOGVjZC00MmUyLThlNTktMTQyZGE3MzE1ZTdlXkEyXkFqcGdeQXVyNDE5MTU2MDE@._V1_UY268_CR1,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt0457572/?ref_=ttls_li_tt" class="abc">Fido </a> (2006)<br>
                R | 93 min | Comedy, Drama, Horror<br>
                <img src="https://m.media-amazon.com/images/M/MV5BNzQwMzYyMDQtZTc1Yi00YzU4LThlM2ItYTM5Mjc5NGViNjRjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            <li>
                <a href="https://www.imdb.com/title/tt1226681/?ref_=ttls_li_tt" class="abc">Pontypool</a>  (2008)<br>
                Not Rated | 93 min | Fantasy, Horror, Thriller<br>
                <img src="https://m.media-amazon.com/images/M/MV5BNWZkMmNmNGItM2MwNC00YTY2LTk0ZDYtMGM0YjM5Nzk0MjVjXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX182_CR0,0,182,268_AL__QL50.jpg">
            </li>
            <br>
            
    </ol>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/movie1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="/movie1">1</a></li>
                
                <li class="page-item"><a class="page-link" href="/movie2">2</a></li>
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            </ul>
        </nav>
        
{% endblock %}